body{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
}
h2{
    color: yellow;
    margin: 20px 0px;
    font-size: 40px;
}
.peliculas{
    display: flex;
    flex-wrap: wrap;
}
.pelicula{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 10px 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 2px 0px 3px white;
    width: 200px;
    max-width: 33%;
    color: white;
}
h2 + .pelicula{
    margin: 10px auto;
}
.pelicula p, .pelicula img{
    margin: 5px 0px;
}
.nombre{
    font-size: 25px;
    margin: 0px 5px;
}
.pelicula p:last-child{
    font-size: 20px;
}
.fecha{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: red;
}